.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #444;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #eee;
}

.App-header h2 {
  font-weight: normal;
  font-size: 24px;
  margin-right: 25px;

  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
