.Intro {
  text-align: center;
}

.Intro-header {
}

.Intro-header h2 {
  font-weight: normal;
  font-size: 36px;
  color: #444;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.Intro-intro {
  font-size: 24px;
}
